{% include 'navbar.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
               <a href="#"style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/kurtis/anarkali.png' %}" alt="" style="height: 35rem;">
                                       <center> <h2 >The Anarkali </h2></center>

                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1499</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/kurtis/Asymmetrical.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2 >The Asymmetrical </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2999</span></h6></center>


                </div></a>
        
            </div>
            <div class="col-md-4">
              <a href=""style="text-decoration:none; color:black">  <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/kurtis/bandhni.jpg' %}" alt=""style="height: 35rem;">
                                     <center> <h2 >The Bandhni </h2></center>

                   <center> <h6><i class="bi bi-currency-rupee"></i><span>999</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black">
                 <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/kurtis/chikankari.webp' %}" alt=""style="height: 35rem;">
                    <center><h2 >The Chikankari</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2399</span></h6></center>

                </div>
        
               </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/kurtis/indo-western.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2 >The Indo-Western</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1299</span></h6></center>


                </div></a>
        
              
            </div>


          <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/kurtis/straight cut.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2 >The Straight Cut</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1999</span></h6></center>


                </div>  </a>
        
              
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% include "fotter.html" %}