{% include 'navbar.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
               <a href="#"style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/lehanga/banarsi.jpg' %}" alt="" style="height: 35rem;">
                  <center>  <h2>The Banarsi </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1499</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/lehanga/half saree.jpg' %}" alt=""style="height: 35rem;">
                  <center>  <h2 >The Half Saree </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2999</span></h6></center>


                </div></a>
        
            </div>
            <div class="col-md-4">
              <a href=""style="text-decoration:none; color:black">  <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/lehanga/kalidar.jpg' %}" alt=""style="height: 35rem;">
                   <center> <h2 >The Kalidar </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>999</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black">
                 <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/lehanga/multi_layer.jpg' %}" alt=""style="height: 35rem;">
                  <center>  <h2>The Multi-Layer</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2399</span></h6></center>

                </div>
        
               </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/lehanga/simple.jpg' %}" alt=""style="height: 35rem;">
                   <center> <h2 >The Simple Printed</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1299</span></h6></center>


                </div></a>
        
              
            </div>


          <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/lehanga/trumpet.jpg' %}" alt=""style="height: 35rem;">
                  <center>  <h2>The Trumpet</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1999</span></h6></center>


                </div>  </a>
        
              
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% include "fotter.html" %}