{% include "navbar.html" %}
{% load crispy_forms_tags %}

{% block content %}

<body style="background-color:darkgray">
    <div style="height: 30%;width: 20%; margin:auto ;margin-top:3%">
       <form action="" method='POST' style="color:red">
        {% csrf_token %}
         {{ login_form_data.username | as_crispy_field }}
         {{ login_form_data.password | as_crispy_field }}
         <a href="{% url 'forgetpassword' %}">Generate new password</a>
         <input type="submit" value="sign in" class="btn btn-danger" style="width: 100%;margin-top:7%">
         <hr>
       </form>
       <a href="{% url 'register' %}">  <input type="submit" value="new user" class="btn btn-success" style="width: 100%;"></a>
    </div>  
{% endblock content %}
