{% include 'navbar.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
               <a href="#"style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/mens_jeans/loose fit.webp' %}" alt="" style="height: 35rem;">
                   <center> <h2 >Loose Fit </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1499</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/mens_jeans/regular fit.webp' %}" alt=""style="height: 35rem;">
             <center>       <h2 >Regular Fit</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2999</span></h6></center>


                </div></a>
        
            </div>
            <div class="col-md-4">
              <a href=""style="text-decoration:none; color:black">  <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/mens_jeans/releaxed fit.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2>Releaxed Fit </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>999</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black">
                 <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/mens_jeans/skinny.webp' %}" alt=""style="height: 35rem;">
                  <center>  <h2>Skinny Fit </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2399</span></h6></center>

                </div>
        
               </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/mens_jeans/slim fit.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2>Slim Fit</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1299</span></h6></center>


                </div></a>
        
              
            </div>


          <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/mens_jeans/TAPERED fit.webp' %}" alt=""style="height: 35rem;">
                    <center><h2>Tapered Fit </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1999</span></h6></center>


                </div>  </a>
        
              
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% include "fotter.html" %}