{% include 'navbar.html' %}

{% load static %}
{% block content %}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
               <a href="#"style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/tshirt/black.webp' %}" alt="" style="height: 35rem;">
                   <center> <h2 >The Black Touch </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1499</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/tshirt/polo.webp' %}" alt=""style="height: 35rem;">
             <center>       <h2 > Casual Polo </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2999</span></h6></center>


                </div></a>
        
            </div>
            <div class="col-md-4">
              <a href=""style="text-decoration:none; color:black">  <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/tshirt/loose.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2> Simple Loose fit </h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>999</span></h6></center>


                </div>
        </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black">
                 <div class="card card=body" style="margin:2%">
                   
                    <img src="{% static  'images/tshirt/red.webp' %}" alt=""style="height: 35rem;">
                  <center>  <h2>The Red Touch</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>2399</span></h6></center>

                </div>
        
               </a>
              
            </div>
            <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/tshirt/v neck.webp' %}" alt=""style="height: 35rem;">
                   <center> <h2>plain V neck</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1299</span></h6></center>


                </div></a>
        
              
            </div>


          <div class="col-md-4">
               <a href=""style="text-decoration:none; color:black"> <div class="card card=body"style="margin:2%">
                   
                    <img src="{% static  'images/tshirt/white.webp' %}" alt=""style="height: 35rem;">
                    <center><h2>The White Touch</h2></center>
                   <center> <h6><i class="bi bi-currency-rupee"></i><span>1999</span></h6></center>


                </div>  </a>
        
              
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% include "fotter.html" %}